#gitRepo/devDocs

#curriculoTraianMatisi
curriculoTraianMatisi.aux
curriculoTraianMatisi.dvi
curriculoTraianMatisi.log
curriculoTraianMatisi.odt
curriculoTraianMatisi.pdf
curriculoTraianMatisi.synctex.gz
curriculoTraianMatisi.tex.bak

#curriculoTraianMatisi

curriculoTraianMatisiXeLaTeX.aux
curriculoTraianMatisiXeLaTeX.dvi
curriculoTraianMatisiXeLaTeX.log
curriculoTraianMatisiXeLaTeX.pdf
curriculoTraianMatisiXeLaTeX.synctex.gz
curriculoTraianMatisiXeLaTeX.tex.bak